/* start variables */
:root {
  --sec-padding: 50px;
  --w-text-color: #ffffff;
  --b-body-color: #1f2021;
  --blue-color: #00c7fc;
  --transparent-color: rgba(15, 116, 143, 0.7);
  --header-glow-bot-pos: -11px;
  --header-glow-height: 1px;
}
/* end variables */

/* start global rules */
body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--b-body-color);
}
ul {
  list-style: none;
}
/* end global rules */

/* start component */
.main-heading {
  text-align: center;
}
.main-heading h2 {
  color: var(--b-body-color);
  font-size: 40px;
  font-weight: 400  ;
  letter-spacing: 1px;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 70px;
}
.main-heading h2::before{
  content: "";
  width: 120px;
  height: 2px;
  background-color: var(--b-body-color);
  position: absolute;
  bottom: -35px;
  right: 50%;
  transform: translateX(50%);
}
.main-heading h2::after{
  content: "";
  width: 16px;
  aspect-ratio: 1/1;
  background-color: white;
  border: 2px solid var(--b-body-color);
  border-radius: 50% ;
  position: absolute;
  bottom: -44px;
  right: 50%;
  transform: translateX(50%);
  -webkit-border-radius: 50% ;
  -moz-border-radius: 50% ;
  -ms-border-radius: 50% ;
  -o-border-radius: 50% ;
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
}
.main-heading p {
  margin: 0 auto 50px auto;
  width: 500px;
  max-width: 100%;
  color: #777 ;
  line-height: 2;
}

/* end component */

/* start header */
header {
  width: 100%;
  position: absolute;
  z-index: 2;
  min-width: none;
  height: 75px;
  display: flex;
  align-items: center;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .container::after {
  content: "";
  width: calc(100% - 30px);
  background-color: #726f71;
  position: absolute;
  height: var(--header-glow-height);
  bottom: var(--header-glow-bot-pos);
  left: 15px;
  z-index: -1;
}
header .container .logo::after {
  content: "";
  width: calc(100% - 30px);
  height: var(--header-glow-height);
  background-color: var(--blue-color);
  position: absolute;
  bottom: var(--header-glow-bot-pos);
  left: 15px;
  display: none;
  z-index: 1;
}
header .container .logo:hover::after {
  display: block;
}
header .container nav {
  display: flex;
  align-items: center;
}
header .container .toggle {
  font-size: 22px;
  font-weight: 600;
  color: var(--w-text-color);
  display: none;
  padding: 15px;
}
header .container .toggle:hover {
  color: var(--blue-color);
}
header .container nav ul {
  display: inline-block;
}
@media (max-width: 767px) {
  header .container .toggle {
    display: inline-block;
  }
  header .container nav ul {
    display: none;
  }
  header .container nav ul:hover,
  header .container .toggle:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 120%;
    right: 0;
    width: 35%;
    background-color: rgb(0 0 0 / 25%);
  }

  header .container .toggle::after {
    content: "";
    width: 60px;
    height: 40px;
    background-color: transparent;
    /* background-color: red; */
    position: absolute;
    top: 40px;
    right: 65px;
  }
}
header .container ul li {
  display: inline-block;
  position: relative;
}
header .container ul li a {
  padding: 30px 6px;
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--w-text-color);
  font-size: 14px;
}
/* remove the e */
header .container ul li a.activee,
header .container ul li a:hover {
  border-bottom: 1px solid var(--blue-color);
  color: var(--blue-color);
}
@media (max-width: 767px) {
  header .container ul li a {
    display: block;
    padding: 5px 5px;
    margin: 0;
  }
}
/* styling the search icon */
header .container ul + a {
  display: inline-block;
  margin-left: 10px;
  padding: 20px 15px;
  color: var(--w-text-color);
  position: relative;
  /* font-size: 20px; */
}
header .container ul + a:hover {
  color: var(--blue-color);
  /* border-bottom: 3px solid var(--blue-color); */
}
header .container ul + a::before {
  content: "";
  width: 2px;
  height: 30px;
  background-color: #dad6d7;
  position: absolute;
  top: 15px;
  left: 0;
}
header .container ul + a:hover::before {
  background-color: var(--blue-color);
}
header .container ul + a::after {
  content: "";
  width: 100%;
  height: var(--header-glow-height);
  background-color: var(--blue-color);
  position: absolute;
  bottom: var(--header-glow-bot-pos);
  left: 0;
  display: none;
  z-index: 1;
}
header .container ul + a:hover::after {
  display: block;
}
/* end header */

/* start landing section  */
.landing {
  min-height: 100vh;
  position: relative;
}
.landing::before {
  content: "";
  background-image: url(../images/landing.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.6;
  z-index: -1;
}
.landing .landing-content {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50vw;
  color: var(--w-text-color);
  background-color: var(--transparent-color);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.landing .landing-content .landing-text {
  padding: 20px 20px 20px 15%;
}
.landing .landing-content h2 {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 2.86vw;
  margin: 20px 0;
  line-height: 1.6;
}
.landing .landing-content p {
  line-height: 1.8;
  font-weight: 300;
  font-size: 1.4vw;
}
@media (max-width: 767px) {
  .landing .landing-content .landing-text {
    padding: 30px;
  }
  .landing .landing-content {
    width: auto;
    max-width: 100%;
  }
  .landing .landing-content h2 {
    font-size: 5vw;
  }
  .landing .landing-content p {
    font-size: 3.3vw;
  }
}
.landing .change-background {
  color: var(--w-text-color);
  font-size: 20px;
  position: absolute;
  top: 50%;
  transform:translateY(-50%) ;
  -webkit-transform:translateY(-50%) ;
  -moz-transform:translateY(-50%) ;
  -ms-transform:translateY(-50%) ;
  -o-transform:translateY(-50%) ;
}
.landing .change-background.right {
  right: 20px;
}
.landing .change-background.left {
  left: 20px;
}
@media (max-width: 767px) {
  .landing .change-background {
    display: none;
  }
}
.landing .dots-content {
  position: absolute;
  bottom: 30px;
  right: 50%;
  transform: translateX(50%);
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
}
.landing .dots-content .dot {
  display: inline-block;
  margin: 2px;
  border: 1px solid var(--w-text-color);
  width: 16px;
  aspect-ratio: 1/1;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.landing .dots-content .dot:hover {
  background-color: var(--blue-color);
  border-color: var(--blue-color);
}
.landing .dots-content .dot:nth-child(2) {
  background-color: var(--blue-color);
  border-color: var(--blue-color);
}
/* end landing section  */

/* start of services */
section.services{
  background-color: #ffffff;
  padding-top: var(--sec-padding);
  padding-bottom: var(--sec-padding);
}

.services .container .services-content {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(450px, 1fr));
  column-gap: 40px;
  row-gap: 60px;
}

.services .container .services-content .serv {
  /* min-height: 200px; */
  display: flex;
}
.services .container .services-content .serv i {
  margin: 0 50px 0 0;
  color: var(--main-color);
  font-size: 50px;
}

@media (max-width: 767px) {
  .services .container .services-content {
    display: flex;
    flex-direction: column;
  }
  .services .container .services-content .serv {
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
  }
  .services .container .services-content .serv i {
    margin: 30px auto;
  }
}
.services .container .services-content .serv .info h3 {
  margin: 0 0 30px 0;
  color: var(--blue-color);
}
.services .container .services-content .serv .info p {
  margin: 0;
  color: #777;
  line-height: 2;
}
/* end of services */

/* <!-- START DESIGN features --> */
section.design-features {
  padding-top: calc(var(--sec-padding) + 50px );
  padding-bottom: calc(var(--sec-padding) + 50px );
  height: 600px;
  background-image: url(../images/design-features.jpg);
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  gap: 50px ;
  overflow: hidden;
  position: relative;
}
section.design-features::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgb(0 0 0 / 45%);
}
.design-features .design-img {
  width: 310px;
  margin: 0 auto;
  /* position: relative; */
}
.design-features .design-img img {
  width: 100%;
  position: relative;
  bottom: -30%;
  left: 50%;
  transform: translatex(-50%);
  -webkit-transform: translatex(-50%);
  -moz-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  -o-transform: translatex(-50%);
}
.design-features .design-list {
max-width: 600px;
/* height: fit-content; */
background-color: var(--transparent-color) ;
flex: 1 ;
padding: 50px;
color: var(--w-text-color);
z-index: 1;
align-self: center;
}
@media (max-width: 767px) {
  .design-features .design-img {
    display: none;
  }
  .design-features .design-list {
    max-width: 100%;
    padding: 40px;
  }
}
.design-features .design-list p {
  margin-bottom: 45px;
  font-size: 21px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .design-features .design-img {
    display: none;
  }
  .design-features .design-list {
    max-width: 100%;
    padding: 40px;
  }
  .design-features .design-list p {
  font-size: 19px;
  }

}
.design-features .design-list li {
  padding: 15px 0 ;
}
.design-features .design-list li::before {
  content: " \e163 ";
  font-family:"Font Awesome 6 Free";
  font-weight: 600;
  margin-right: 15px;
  position: relative;
  top: 1px;
}
/* <!-- END DESIGN features --> */

/* start of portfolio */


/* end of portfolio */

/* start of about */
/* end of about */

/* start of contact */
/* end of contact */

/* footer start */
/* footer end */
