/* start variables */
:root {
  --sec-padding: 50px;
  --w-text-color: #ffffff;
  --dim-text-color: #a8a8a8;
  --b-body-color: #1f2021;
  --blue-color: #00c7fc;
  --transparent-color: #0f748fb3;
  --header-glow-bot-pos: -11px;
  --header-glow-height: 1px;
}
/* end variables */

/* start global rules */
body {
  font-family: "Open Sans", sans-serif;
  /* background-color: var(--b-body-color); */
}
ul {
  list-style: none;
}
/* end global rules */

/* start component */
.main-heading {
  text-align: center;
}
.main-heading h2 {
  color: var(--b-body-color);
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 1px;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 70px;
}
.main-heading h2::before {
  content: "";
  width: 120px;
  height: 2px;
  background-color: var(--b-body-color);
  position: absolute;
  bottom: -35px;
  right: 50%;
  transform: translateX(50%);
}
.main-heading h2::after {
  content: "";
  width: 16px;
  aspect-ratio: 1/1;
  background-color: white;
  border: 2px solid var(--b-body-color);
  border-radius: 50%;
  position: absolute;
  bottom: -44px;
  right: 50%;
  transform: translateX(50%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
}
.main-heading p {
  margin: 0 auto 80px auto;
  width: 500px;
  max-width: 100%;
  color: #777;
  line-height: 2;
}

/* end component */

/* start header */
header {
  width: 100%;
  position: absolute;
  z-index: 2;
  min-width: none;
  height: 75px;
  display: flex;
  align-items: center;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .container::after {
  content: "";
  width: calc(100% - 30px);
  background-color: #726f71;
  position: absolute;
  height: var(--header-glow-height);
  bottom: var(--header-glow-bot-pos);
  left: 15px;
  z-index: -1;
}
header .container .logo::after {
  content: "";
  width: calc(100% - 30px);
  height: var(--header-glow-height);
  background-color: var(--blue-color);
  position: absolute;
  bottom: var(--header-glow-bot-pos);
  left: 15px;
  display: none;
  z-index: 1;
}
header .container .logo:hover::after {
  display: block;
}
header .container nav {
  display: flex;
  align-items: center;
}
header .container .toggle {
  font-size: 22px;
  font-weight: 600;
  color: var(--w-text-color);
  display: none;
  padding: 15px;
}
header .container .toggle:hover {
  color: var(--blue-color);
}
header .container nav ul {
  display: inline-block;
}
@media (max-width: 767px) {
  header .container .toggle {
    display: inline-block;
  }
  header .container nav ul {
    display: none;
  }
  header .container nav ul:hover,
  header .container .toggle:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 120%;
    right: 0;
    width: 35%;
    background-color: rgb(0 0 0 / 25%);
  }

  header .container .toggle::after {
    content: "";
    width: 60px;
    height: 40px;
    background-color: transparent;
    /* background-color: red; */
    position: absolute;
    top: 40px;
    right: 65px;
  }
}
header .container ul li {
  display: inline-block;
  position: relative;
}
header .container ul li a {
  padding: 30px 6px;
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--w-text-color);
  font-size: 14px;
}
/* remove the e */
header .container ul li a.activee,
header .container ul li a:hover {
  border-bottom: 1px solid var(--blue-color);
  color: var(--blue-color);
}
@media (max-width: 767px) {
  header .container ul li a {
    display: block;
    padding: 5px 5px;
    margin: 0;
  }
}
/* styling the search icon */
header .container ul + a {
  display: inline-block;
  margin-left: 10px;
  padding: 20px 15px;
  color: var(--w-text-color);
  position: relative;
  /* font-size: 20px; */
}
header .container ul + a:hover {
  color: var(--blue-color);
  /* border-bottom: 3px solid var(--blue-color); */
}
header .container ul + a::before {
  content: "";
  width: 2px;
  height: 30px;
  background-color: #dad6d7;
  position: absolute;
  top: 15px;
  left: 0;
}
header .container ul + a:hover::before {
  background-color: var(--blue-color);
}
header .container ul + a::after {
  content: "";
  width: 100%;
  height: var(--header-glow-height);
  background-color: var(--blue-color);
  position: absolute;
  bottom: var(--header-glow-bot-pos);
  left: 0;
  display: none;
  z-index: 1;
}
header .container ul + a:hover::after {
  display: block;
}
/* end header */

/* start landing section  */
.landing {
  min-height: 100vh;
  position: relative;
  background-color: var(--b-body-color);
  z-index: 0;
}
.landing::after {
  content: "";
  background-image: url(../images/landing.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: .7;
  z-index: -1;
}
.landing .landing-content {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50vw;
  color: var(--w-text-color);
  background-color: var(--transparent-color);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.landing .landing-content .landing-text {
  padding: 20px 20px 20px 15%;
}
.landing .landing-content h2 {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 2.86vw;
  margin: 20px 0;
  line-height: 1.6;
}
.landing .landing-content p {
  line-height: 1.8;
  font-weight: 300;
  font-size: 1.4vw;
}
@media (max-width: 767px) {
  .landing .landing-content .landing-text {
    padding: 30px;
  }
  .landing .landing-content {
    width: auto;
    max-width: 100%;
  }
  .landing .landing-content h2 {
    font-size: 5vw;
  }
  .landing .landing-content p {
    font-size: 3.3vw;
  }
}
.landing .change-background {
  color: var(--w-text-color);
  font-size: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.landing .change-background.right {
  right: 20px;
}
.landing .change-background.left {
  left: 20px;
}
@media (max-width: 767px) {
  .landing .change-background {
    display: none;
  }
}
.landing .dots-content {
  position: absolute;
  bottom: 30px;
  right: 50%;
  transform: translateX(50%);
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
}
.landing .dots-content .dot {
  display: inline-block;
  margin: 2px;
  border: 1px solid var(--w-text-color);
  width: 16px;
  aspect-ratio: 1/1;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.landing .dots-content .dot:hover {
  background-color: var(--blue-color);
  border-color: var(--blue-color);
}
.landing .dots-content .dot:nth-child(2) {
  background-color: var(--blue-color);
  border-color: var(--blue-color);
}
/* end landing section  */

/* start of services */
section.services {
  /* background-color: #ffffff; */
  padding-top: var(--sec-padding);
  padding-bottom: var(--sec-padding);
}
.services .container .services-content {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  column-gap: 40px;
  row-gap: 60px;
}
.services .container .services-content .serv {
  /* min-height: 200px; */
  display: flex;
}
.services .container .services-content .serv i {
  margin: 0 50px 0 0;
  color: var(--main-color);
  font-size: 50px;
}
@media (max-width: 767px) {
  .services .container .services-content {
    display: flex;
    flex-direction: column;
  }
  .services .container .services-content .serv {
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
  }
  .services .container .services-content .serv i {
    margin: 30px auto;
  }
}
.services .container .services-content .serv .info h3 {
  margin: 0 0 30px 0;
  color: var(--blue-color);
}
.services .container .services-content .serv .info p {
  margin: 0;
  color: #777;
  line-height: 2;
}
/* end of services */

/* <!-- START DESIGN features --> */
section.design-features {
  padding-top: calc(var(--sec-padding) + 50px);
  padding-bottom: calc(var(--sec-padding) + 50px);
  height: 600px;
  background-image: url(../images/design-features.jpg);
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  gap: 50px;
  overflow: hidden;
  position: relative;
}
section.design-features::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgb(0 0 0 / 45%);
}
.design-features .design-img {
  width: 310px;
  margin: 0 auto;
  /* position: relative; */
}
.design-features .design-img img {
  width: 100%;
  position: relative;
  bottom: -30%;
  left: 50%;
  transform: translatex(-50%);
  -webkit-transform: translatex(-50%);
  -moz-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  -o-transform: translatex(-50%);
}
.design-features .design-list {
  max-width: 600px;
  /* height: fit-content; */
  background-color: var(--transparent-color);
  flex: 1;
  padding: 50px;
  color: var(--w-text-color);
  z-index: 1;
  align-self: center;
}
@media (max-width: 767px) {
  .design-features .design-img {
    display: none;
  }
  .design-features .design-list {
    max-width: 100%;
    padding: 40px;
  }
}
.design-features .design-list p {
  margin-bottom: 45px;
  font-size: 21px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .design-features .design-img {
    display: none;
  }
  .design-features .design-list {
    max-width: 100%;
    padding: 40px;
  }
  .design-features .design-list p {
    font-size: 19px;
  }
}
.design-features .design-list li {
  padding: 15px 0;
}
.design-features .design-list li::before {
  content: " \e163 ";
  font-family: "Font Awesome 6 Free";
  font-weight: 600;
  margin-right: 15px;
  position: relative;
  top: 1px;
}
/* <!-- END DESIGN features --> */

/* start of portfolio */
section.portfolio {
  /* background-color: #ffffff; */
  padding-top: var(--sec-padding);
  padding-bottom: var(--sec-padding);
}
/* <!-- selecting menu --> */
section.portfolio ul {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 30px;
}
section.portfolio ul a {
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 10px;
  color: #777;
  font-weight: 500;
}
@media (max-width: 767px) {
  section.portfolio ul {
    gap: 0;
  }
  section.portfolio ul a {
    padding: 10px 5px;
  }
}
/* <!-- projects cards --> */
.portfolio .portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-bottom: 30px;
}
.portfolio .portfolio-content .pro-card {
  position: relative;
  overflow: hidden;
}
.portfolio .portfolio-content .pro-card img {
  width: 100%;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.portfolio .portfolio-content .pro-card:hover img {
  transform: rotate(3deg) scale(1.1);
  -webkit-transform: rotate(3deg) scale(1.1);
  -moz-transform: rotate(3deg) scale(1.1);
  -ms-transform: rotate(3deg) scale(1.1);
  -o-transform: rotate(3deg) scale(1.1);
}
.portfolio .portfolio-content .pro-card .pro-info {
  background-color: var(--w-text-color);
  width: 100%;
  padding: 20px;
  text-transform: capitalize;
  position: absolute;
  bottom: -100%;
  left: 0;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
}
.portfolio .portfolio-content .pro-card:hover .pro-info {
  bottom: 0;
}
.portfolio .portfolio-content .pro-card .pro-info p:first-of-type {
  margin-bottom: 10px;
}
.portfolio .portfolio-content .pro-card .pro-info p:last-of-type {
  color: var(--blue-color);
}
/* more link  */
.portfolio > a {
  display: block;
  width: fit-content;
  background-color: #00c5fc57;
  padding: 10px 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--b-body-color);
  margin: 0 auto;
}
/*hovering on links */
section.portfolio a:hover {
  background-color: #00c7fc;
  color: var(--w-text-color);
}
/* end of portfolio */

/* start of video */
section.video {
  /* background-color: #ffffff; */
  padding-top: var(--sec-padding);
  padding-bottom: var(--sec-padding);
  position: relative;
}
.video video {
  width: 100%;
}
.video .text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  background-color: var(--transparent-color);
  width: 100%;
  text-align: center;
  color: var(--w-text-color);
  padding: 50px 0;
}
.video .text h3 {
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 30px;
}
.video .text p {
  margin-bottom: 30px;
}
.video .text a {
  display: block;
  margin: 0 auto;
  width: fit-content;
  background-color: var(--b-body-color);
  padding: 10px 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--w-text-color);
}
@media (max-width: 767px) {
  .video .text {
    padding: 20px 0;
  }
  .video .text h3 {
    margin-bottom: 10px;
    font-size: 16px;
  }

  .video .text p {
    margin-bottom: 15px;
    font-size: 14px;
  }
  .video .text a {
    padding: 10px 15px;
    font-size: 14px;
  }
}
/* end of video */

/* start of about */
.about {
  padding-top: var(--sec-padding);
  /* background-color: #fff; */
}
/* about imag */
.about .about-image {
  position: relative;
  overflow: hidden;
  aspect-ratio: 4.5/1;
}
.about .about-image img {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-55%);
  -webkit-transform: translateX(-55%);
  -moz-transform: translateX(-55%);
  -ms-transform: translateX(-55%);
  -o-transform: translateX(-55%);
}
/* end of about */

/* <!--  start states section  --> */
.stats {
  background-image: url(../images/stats.png);
  background-size: cover;
  position: relative;
  padding-top: var(--sec-padding);
  padding-bottom: var(--sec-padding);
  z-index: 0;
}
.stats::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 45%);
}
.stats .container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.stats .container .box {
  flex-basis: 25%;
  padding: 30px;
  text-align: center;
  color: var(--w-text-color);
  background-color: var(--transparent-color);
}
@media (max-width: 767px) {
  .stats .container .box {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .stats .container .box {
    flex-basis: 50%;
  }
}
.stats .container .box i {
  background-color: var(--b-body-color);
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
.stats .container .box h2 {
  font-size: 50px;
  margin: 30px auto;
}
.stats .container .box p {
  margin: 20px auto;
  text-transform: capitalize;
}
/* <!--  end states section  --> */

/* <!--  start skills section  --> */
.test-skills {
  padding-top: var(--sec-padding);
  padding-bottom: var(--sec-padding);
  /* background-color: #fff; */
}
.test-skills .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 50px;
}
@media (max-width: 767px) {
  .test-skills .container {
    display: flex;
    flex-direction: column;
  }
}

/* test and skill heading */
.skills-heading {
  text-align: center;
  margin-bottom: 40px;
}
.skills-heading h3 {
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: normal;
}
.skills-heading p {
  line-height: 2;
  color: #a8a8a8;
}
/* end heading  */

/* member  */
.test-skills .container .test .member {
  display: flex;
  margin-bottom: 30px;
}
.test-skills .container .test .member img {
  width: 100px;
  aspect-ratio: 1;
  margin: auto 50px auto 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
@media (max-width: 767px) {
  .test-skills .container .test .member {
    flex-direction: column;
    text-align: center;
  }
  .test-skills .container .test .member img {
    margin: auto auto 20px ;
  }
}
.test-skills .container .test .member .info {
  border-bottom: 1px solid var(--dim-text-color);
}
.test-skills .container .test .member .info p:first-child {
  line-height: 2;
  margin-bottom: 10px;
}
.test-skills .container .test .member .info p:last-of-type {
  text-align: right;
  color: var(--dim-text-color);
  margin-bottom: 10px;
  font-size: 15px;
}

/* dots  */
.test-skills .dots-content {
  display: flex;
  justify-content: center;
}
.test-skills .dots-content .dot {
  display: inline-block;
  margin: 4px;
  border: 1px solid var(--dim-text-color);
  width: 14px;
  aspect-ratio: 1/1;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.test-skills .dots-content .dot:hover {
  background-color: var(--blue-color);
  border-color: var(--blue-color);
}
.test-skills .dots-content .dot:nth-child(2) {
  background-color: var(--blue-color);
  border-color: var(--blue-color);
}

/* start our skills  */
.skills .holder {
  margin-bottom: 30px;
}
.skills .holder h4 {
  text-transform: uppercase;
  margin-bottom: 15px;
  font-weight: normal;
}
.skills .holder .prog {
  background-color: #dedadc;
  height: 20px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.skills .holder .prog span {
  display: block;
  background-color: var(--blue-color);
  height: 100%;
  position: relative;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.skills .holder .prog span::after {
  content: "";
  position: absolute;
  right: -6px;
  top: -12px;
  border: 6px solid;
  border-color: var(--b-body-color) transparent transparent transparent;
}
.skills .holder .prog span::before {
  content: attr(data-progress) ;
  color: var(--w-text-color);
  padding: 5px;
  font-size: 15px;
  position: absolute;
  right: -21px;
  top: -39px;
  background-color: var(--b-body-color);
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
/* <!--  end skills section  --> */

/* <!--start about quote  --> */
.quote {
  padding-top: calc(var(--sec-padding) + 50px);
  padding-bottom: calc(var(--sec-padding) + 10px);
  background-image: url(../images/quote.jpg);
  background-size: cover;
  text-align: center;
  color: var(--w-text-color);
  position: relative;
}
.quote::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}
.quote .container {
  position: relative;
}
.quote q {
  display: block;
  font-size: 30px;
  margin-bottom: 20px;
}
.quote q::before {
  content: "\f10d";
  font-family:"Font Awesome 6 Free";
  font-weight: 600;
}
.quote q::after {
  content: "\f10e";
  font-family:"Font Awesome 6 Free";
  font-weight: 600;
}
.quote p {
  font-size: 16px;
}
/* <!-- end about filaly  --> */

/* <!-- start pricing --> */
.pricing {
  padding-top: var(--sec-padding);
  padding-bottom: var(--sec-padding);
}














/* <!-- end pricing --> */

/* start of contact */
/* end of contact */

/* footer start */
/* footer end */
